.overlay {
  width: 100vw;
  left: 0;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.overlayLight {
  background-image: linear-gradient(transparent, white);
}

.overlayDark {
  background-image: linear-gradient(transparent, black);
}
